asgiref==3.6.0ok
charset-normalizer==3.0.1
distlib==0.3.6
Django==4.1.6
django-environ==0.9.0
django-guest-user==0.5.3
djangorestframework==3.14.0
filelock==3.8.0
idna==3.4
platformdirs==2.5.4
psycopg2==2.9.5
pytz==2022.7.1
requests==2.28.2
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.14
virtualenv==20.16.7
wincertstore==0.2
