{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PCPiyasa</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>

{% include 'header.html' %}
<main>
  
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://m.media-amazon.com/images/I/41hzAFLpHnL._SL75_.jpg" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold">PCPIYASA</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">PC Piyasa places a strong emphasis on quality and customer satisfaction, which is reflected in their positive reviews and loyal customer base. The company's dedication to their craft and commitment to delivering high-quality custom PCs has earned them a strong reputation in the market. If you're in the market for a custom-built PC, PC Piyasa is a company that's worth considering.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'show_list' %}" class="btn btn-outline-secondary btn-lg px-4">Pc Builder</a>
          <a href="{% url 'processors' %}" class="btn btn-outline-primary btn-lg px-4">processors</a>
        </div>
      </div>
    </div>

  </main>
  {% include 'footer.html' %}
