{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h4>Filter by:</h4>
			<form method="GET">
				<div class="mb-3">
					<h5>Brand</h5>
					{% for brand in brands %}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="brand" value="{{ brand }}" id="{{ brand }}">
						<label class="form-check-label" for="{{ brand }}">
							{{ brand }}
						</label>
					</div>
					{% endfor %}
				</div>
				<div class="mb-3">
					<h5>Color</h5>
					{% for color in colors %}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="color" value="{{ color }}" id="{{ color }}">
						<label class="form-check-label" for="{{ color }}">
							{{ color }}
						</label>
					</div>
					{% endfor %}
				</div>
				<button type="submit" class="btn btn-primary">Apply filters</button>
			</form>
		</div>
		<div class="col-md-9">
			<h2>CPU Coolers</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Model</th>
						<th>Fan RPM</th>
						<th>Noise Level</th>
						<th>Color</th>
						<th>Price</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for cooler in coolers %}
					<tr>
						<td>{{ cooler.cpu_cooler_brand }}</td>
						<td>{{ cooler.cpu_cooler_model }}</td>
						<td>{{ cooler.cpu_cooler_fan_rpm }}</td>
						<td>{{ cooler.cpu_cooler_noise_level }}</td>
						<td>{{ cooler.cpu_cooler_color }}</td>
						<td>${{ cooler.cpu_cooler_price }}</td>
						<td>
							<form action="{% url 'cpu_cooler_builder' %}">
								<input type="hidden" name="cpu_cooler_id" value="{{ cooler.id }}" id="cpu_cooler_id" />
								<button type="submit" class="btn btn-primary">Add</button>
							</form>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="7">No CPU coolers found.</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if coolers.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if coolers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ coolers.previous_page_number }}">&lt;</a>
            </li>
        {% endif %}
		

        {% for num in coolers.paginator.page_range %}
            {% if coolers.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                </li>
            {% elif num > coolers.number|add:'-3' and num < coolers.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if coolers.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ coolers.next_page_number }}">&gt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ coolers.paginator.num_pages }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}

			

</div>
</div>
</div>

{% endblock content %}