<footer class="clearfix">
  <nav class="xs-col-11 lg-col-9 xl-col-8 xs-mx-auto">
    <div class="clearfix">
      <div class="col xs-col-12 sm-col-3">
        <div class="footer__logo">
          <a href="/" class="footer__logo--img"
            ><img
              src="/static/forever/img/pcpp-icon.svg"
              alt="PCPartPicker"
          /></a>
          <h1>
            <ul role="presentation">
              <li class="footer__headline-one">Pick Parts.</li>
              <li class="footer__headline-two">Build Your PC.</li>
              <li class="footer__headline-three">Compare And Share.</li>
            </ul>
          </h1>
        </div>
      </div>
      <div class="col xs-col-12 sm-col-3">
        <h2>Categories</h2>
        <ul class="footer__main-nav" role="presentation">
          <li><a href="/list/">Builder</a></li>
          <li><a href="/guide/">Build Guides</a></li>
          <li><a href="/builds/">Completed Builds</a></li>
          <li><a href="/products/">Browse Products</a></li>
        </ul>
      </div>
      <div class="col xs-col-12 sm-col-3">
        <h2>Information</h2>
        <ul class="footer__secondary-nav" role="presentation">
          <li><a href="/downloads/">Downloads</a></li>
          <li><a href="/forums/">Forums</a></li>
          <li><a href="/trends/">Price Trends</a></li>
        </ul>
      </div>
      <div class="col xs-col-12 sm-col-3">
        <h2>Company</h2>
        <ul class="footer__secondary-nav" role="presentation">
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact & Imprint</a></li>
          <li><a href="/tos/">Terms of Service</a></li>
          <li><a href="/code-of-conduct/">User Code of Conduct</a></li>
          <li>
            <a href="/code-of-conduct/industry-affiliate/"
              >Industry Code of Conduct</a
            >
          </li>
          <li><a href="/privacy/">Privacy Policy</a></li>
          <li>
            <a href="/do-not-sell-my-personal-information/"
              >Do Not Sell My Personal Information</a
            >
          </li>
          <li><a href="/disclosure/">Affiliate Disclosure</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <div class="col xs-col-12">
        <ul class="footer__social" role="presentation">
          <li>
            <a
              href="https://www.facebook.com/pcpartpicker"
              aria-label="PCPartPicker on Facebook"
            >
              <svg class="icon shape-facebook">
                <use xlink:href="#shape-facebook" /></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/pcpartpicker"
              aria-label="PCPartPicker on Instagram"
            >
              <svg class="icon shape-instagram">
                <use xlink:href="#shape-instagram" /></svg
            ></a>
          </li>
          <li>
            <a
              href="http://discord.gg/pcpartpicker"
              aria-label="PCPartPicker Discord Server"
            >
              <svg class="icon shape-discord">
                <use xlink:href="#shape-discord" /></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.twitter.com/pcpartpicker"
              aria-label="PCPartPicker on Twitter"
            >
              <svg class="icon shape-twitter">
                <use xlink:href="#shape-twitter" /></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.twitch.tv/pcpartpicker"
              aria-label="PCPartPicker on Twitch"
            >
              <svg class="icon shape-twitch">
                <use xlink:href="#shape-twitch" /></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/pcpartpicker"
              aria-label="PCPartPicker on YouTube"
            >
              <svg class="icon shape-search">
                <use xlink:href="#shape-youtube" /></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="xs-col-12">
        <p class="footer__copyright">
          &copy;2023 PCPartPicker, LLC. All rights reserved.
        </p>
      </div>
    </div>
  </nav>
</footer>
</body>
</html>