<form action="/processors">
  <label for="cars">Choose Brand Name:</label>
  <select id="brand" name="brand">
    {% for x in brands %}
    <option value="{{x}}">{{x}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit" />
</form>
<form action="/processors">
  <label for="cars">Choose Socket:</label>
  <select id="socket_type" name="socket_type">
    {% for x in socket_types %}
    <option value="{{x}}">{{x}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit" />
</form>
<form action="/processors">
  <label for="cars">Choose Min core:</label>
  <select id="min_cores" name="min_cores">
    {% for x in cores %}
    <option value="{{x}}">{{x}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit" />
</form>
<form action="/processors">
  <label for="cars">Choose Speeds:</label>
  <select id="min_speed" name="min_speed">
    {% for x in speeds %}
    <option value="{{x}}">{{x}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit" />
</form>
{% for x in processors %}
<a href="{%url 'processor_detail' x.id %}">{{x.processor_model}}</a>

<form action="/pc_builder">
  <input type="hidden" name="processor_id" value="{{x.id}}" id="processor_id" />
  <button type="submit">submit</button>
</form>

  <br />
  {% endfor %}
