{% extends 'base.html' %}
{% block content %}
  
  <!-- new -->

  <h3 class="text-center">Selected Items</h3>
  <body>
    <div class="container">
      <div class="row">
      <div class="col-sm-3">
        
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <p class="font-weight-bold">Components</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'processors' %}">Add Processor</a></li>
            <li class="list-group-item"><a href="#">Add Motherboards</a></li>
            <li class="list-group-item"><a href="#">Add CPU Cooler</a></li>
            <li class="list-group-item"><a href="#">Add Memory</a></li>
            <li class="list-group-item"><a href="#">Add Storage</a></li>
          </ul>
          </div>
      </div>
      <div class="col-sm-9">
        
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          
          <th>Selection</th>
          <th>Brand</th>
          <th>Price</th>
          
          <th></th>
          
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for x in data %}
  <tr>
    <td>
      {% if x.processor %}
        <div class="d-flex align-items-center">
          <img src="{{ x.processor.processor_image_url }}" alt="" style="width: 45px; height: 45px" class="rounded" />
          <div class="ms-3">
            <p class="fw-bold mb-1"><a href="{% url 'processor_detail' x.processor.id %}">{{ x.processor.processor_name }}</a></p>
          </div>
        </div>
        <p class="fw-normal mb-1">{{ x.processor.processor_brand }}</p>
          
       <td>
        <p class="fw-normal mb-1"> ${{x.processor.processor_price}} </p>
       </td>
        <td>
          <form action="{%url 'delete' x.id %}" method="POST" id="bin_form">
            {% csrf_token %}
            <button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            
          </form>
          
        </td>
      {% endif %}
    </td>
    <td>
      {% if x.cpu_cooler %}
        <div class="d-flex align-items-center">
          <img src="{{ x.cpu_cooler.cooler_image_url }}" alt="" style="width: 45px; height: 45px" class="rounded" />
          <div class="ms-3">
            <p class="fw-bold mb-1"><a href="{% url 'cpu_cooler_detail' x.cpu_cooler.id %}">{{ x.cpu_cooler.cpu_cooler_name }}</a></p>
          </div>
        </div>
        <p class="fw-normal mb-1">{{ x.cpu_cooler.cpu_cooler_brand }}</p>
          
       <td>
        <p class="fw-normal mb-1"> ${{x.cpu_cooler.cpu_cooler_price}} </p>
       </td>
        <td>
          <form action="{%url 'delete' x.id %}" method="POST" id="bin_form">
            {% csrf_token %}
            <button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            
          </form>
          
        </td>
      {% endif %}
    </td>
  </tr>
{% endfor %}

      
      
     
    </tbody>
  </table>
  </div>
  </div>
  </div>
{% endblock content %}