{% extends "base.html" %}
{% block content %}
<div class="card">
    <h3 class="text-center">Product details</h3>
    <img src="https://m.media-amazon.com/images/I/41hzAFLpHnL._SL75_.jpg" class="img-fluid" alt="..." height="20%" width="20%">
    <div class="card-header">
        Model : {{data.processor_model}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Name : {{data.processor_name}}</h5>
        <p class="card-text">Socket Type : {{data.processor_socket_type}}</p>
        <p class="card-text">Cores : {{data.processor_cores}}</p>
        <p class="card-text">Speed : {{data.processor_speed}}</p>
        <p class="card-text">Price : ......</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
</div>
{% endblock content %}