{% extends 'base.html' %}
{% block content %}

	<h3 class="text-center">Choose a Processor</h3>

<body>
	<div class="container">
		<div class="row">
		<div class="col-sm-3">
			
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<p class="font-weight-bold">Filter</p>
				</div>
				<ul class="list-group list-group-flush">
					
				  <li class="list-group-item">
					<form action="/processors">
						
						<select id="brand" name="brand" class="form-select" aria-label="Default select example">
							<option selected>Brand Name</option>
						  {% for x in brands %}
						  <option value="{{x}}">{{x}}</option>
						  {% endfor %}
						</select>
						<input type="submit" value="Filter" class="btn btn-info"/>
					  </form>
				  </li>
				  <li class="list-group-item">
					<form action="/processors">
						
						<select id="socket_type" name="socket_type" class="form-select" aria-label="Default select example">
							<option selected>Socket Type</option>
							{% for x in socket_types %}
						  <option value="{{x}}">{{x}}</option>
						  {% endfor %}
						</select>
						<input type="submit" value="Filter" class="btn btn-info"/>
					  </form>
				  </li>
				  <li class="list-group-item">
					<form action="/processors">
						
						<select id="min_cores" name="min_cores" class="form-select" aria-label="Default select example">
							<option selected>Min Cores</option>
							{% for x in cores %}
						  <option value="{{x}}">{{x}}</option>
						  {% endfor %}
						</select>
						<input type="submit" value="Filter" class="btn btn-info"/>
					  </form>
				  </li>
				  <li class="list-group-item"><form action="/processors">
					
					<select id="min_speed" name="min_speed" class="form-select" aria-label="Default select example">
						<option selected>Min Speed</option>
						{% for x in speeds %}
					  <option value="{{x}}">{{x}}</option>
					  {% endfor %}
					</select>
					<input type="submit" value="Filter" class="btn btn-info"/>
				  </form></li>
				  <li class="list-group-item"><a href="/processors" class="btn btn-info">Reset Filters</a></li>
				</ul>
			  </div>
		</div>
		<div class="col-sm-9">
			
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Brand</th>
				<th>Cores</th>
				<th>Core Clock</th>
				<th>Boost Clock</th>
				<th>Graphics</th>
				<th>TDP</th>
				<th>SMT</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for x in processors %}
			<tr>
				
				<td>
					<div class="d-flex align-items-center">
						<img
						src="{{x.processor_image_url}}"
						alt=""
						style="width: 45px; height: 45px"
						class="rounded"
						/>
						<div class="ms-3">
							<p class="fw-bold mb-1">{{x.processor_model}}</p>
							
						</div>
					</div>
				</td>
				<td>
					<a href="{%url 'processor_detail' x.id %}"><p class="fw-normal mb-1">{{x.processor_short_name}}</p></a>
				</td>
				<td>
					<p class="fw-normal mb-1">{{x.processor_brand}}</p>
				</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_core_count}}</p>
			</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_performance_core_clock}}</p>
			</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_performance_boost_clock}}</p>
			</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_integrated_graphics}}</p>
			</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_tdp}}</p>
			</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_smt}}</p>
			</td>
			<td>
				<p class="fw-normal mb-1">{{x.processor_price}}</p>
			</td>
		
			<td>
				<form action="/pc_builder">
					<input type="hidden" name="processor_id" value="{{x.id}}" id="processor_id" />
					<button type="submit" class="btn btn-primary">Add</button>
				  </form>
				
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
</div>

{% endblock content %}